#container {
    width: 500px;
    height: 475px;

    background-color: white;

    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}
#card {
    margin: 25px;

    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.75;

    text-align: justify;
    font-family: sans-serif;
}
.bold {
    font-weight: bold;
}
#result {
    margin-top: 30px;

    font-size: 25px;
    
    text-align: center;
}

input {
    width: 100px;

    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;

    font-size: 25px;
}
button {
    width: 45px;
    height: 45px;

    border-radius: 5px;
    margin: 5px 2.5px;

    font-size: 30px
}